@model IEnumerable<ASM_Nhom2_View.Data.Bill>

@{
    ViewData["Title"] = "Đơn Hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    table thead th {
        vertical-align: middle !important;
    }
</style>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Đơn Hàng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Xem Đơn Hàng</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh Sách Đơn Hàng</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead class="text-center">
                                <tr>
                                    <th>ID</th>
                                    <th>Tên Khách Hàng</th>
                                    <th>Số Lượng Trong Đơn Hàng</th>
                                    <th>Tổng Tiền Đơn Hàng</th>
                                    <th>Trạng Thái</th>
                                    <th>Hành Động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr data-product-id="@item.BillId" class="text-center align-middle">
                                        <td>@item.BillId</td>
                                        <td>@item.User.FullName</td>
                                        <td>@item.Quantity</td>
                                        <td>@item.TotalAmount.ToString("#,##0").Replace(",", ".") ₫</td>
                                        <td>@item.Status</td>
                                        <td>
                                            <button type="button" class="btn btn-info d-inline p-2" data-toggle="modal" data-target="#billDetailsModal" onclick="loadBillDetails(@item.BillId, @item.UserID)">Xem Chi Tiết</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Modal chi tiết hóa đơn  -->
<div class="modal fade" id="billDetailsModal" tabindex="-1" role="dialog" aria-labelledby="billDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="billDetailsModalLabel">Chi tiết hóa đơn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped table-hover">
                    <thead class="text-center align-middle">
                        <tr>
                            <th>Tên người nhận</th>
                            <th>Số điện thoại người nhận</th>
                            <th>Địa chỉ người nhận</th>
                            <th>Tổng số lượng</th>
                            <th>Tổng tiền thanh toán</th>
                            <th>Phương thức thanh toán</th>
                            <th>Trạng thái</th>
                            <th>Kiểu vận chuyển</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center align-middle">
                            <td id="RecipientName"></td>
                            <td id="RecipientPhoneNumber"></td>
                            <td id="RecipientAddress"></td>
                            <td id="Quantity"></td>
                            <td id="TotalAmount"></td>
                            <td id="PaymentMethod"></td>
                            <td id="Status"></td>
                            <td id="DeliveryType"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function loadBillDetails(billId, userId) {
            $.ajax({
                url: '@Url.Action("GetBillDetail", "Bill")',
                type: 'GET',
                data: { billId: billId, userId: userId },
                success: function (response) {
                    var data = response.billDetail;
                    var totalAllUnit = response.totalAllUnit;
                    var formatTotalAmount = formatCurrency(data.totalAmount)
                    $('#RecipientName').text(data.recipientName);
                    $('#RecipientPhoneNumber').text(data.recipientPhoneNumber);
                    $('#RecipientAddress').text(data.recipientAddress);
                    $('#Quantity').text(data.quantity);
                    $('#TotalAmount').text(formatTotalAmount);
                    $('#PaymentMethod').text(data.paymentMethod);
                    $('#Status').text(data.status);

                    var deliveryType = (data.totalAmount - totalAllUnit) === 15000 ? "Vận chuyển chậm" : "Vận chuyển nhanh";
                    $('#DeliveryType').text(deliveryType);
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching bill details: ", error);
                }
            });
        }
        function formatCurrency(value) {
            return value.toLocaleString('vi-VN', { minimumFractionDigits: 0, maximumFractionDigits: 0 }).replace(/,/g, '.') + " ₫";
        }

    </script>
}
