@model IEnumerable<ASM_Nhom2_API.Model.RoleVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<p>
    <a asp-action="AddRole">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.RoleId }) |
                @Html.ActionLink("Details", "Details", new { id=item.RoleId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.RoleId })
            </td>
        </tr>
}
    </tbody>
</table>
